*~
/session*
/tramp
*.elc
/elpa/archives/
/elpa/gnupg/
/semanticdb/
/elpa/*-readme.txt
/elpa/*.signed
/.places
/network-security.data
/projectile-bookmarks.eld
/recentf
/url/

# History-related files. It’s a real pain merging them together
/history
/eshell/history
/eshell/lastdir

# Stack exchange. This file contains the auth token for SX sites
/.sx/
